.app-background {
  height: 100%;
  width: 100%;
  background-image: url("https://media.istockphoto.com/id/1216628493/photo/dark-blue-de-focused-blurred-motion-abstract-background.jpg?s=170667a&w=0&k=20&c=J8tn-fh_OWMJwD7yNgISUBz9MMuc0vRb58e4dqkXzzs=");
  background-size: cover;
}
